html, body{
	height: 100%;
}
.build-item{
	padding: 5px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	margin-top: 2px;
}
.build-item > img{
	max-width: 50px;
}
.build-item:hover{
	border: 1px solid darkgrey;	
}
.build-item-title{
	font-size: 14px;
	color: blue;
}
.build-item-container{
	width: 100%;
	padding: 10px;
	margin-left: 0;
	margin-right: 0;
	overflow-y: scroll;
}